.ButtonPrimary {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #04a57d;
  color: white;
  cursor: pointer;
}

.ButtonPrimary:hover {
  background-color: #00946f;
}

.ButtonPrimary:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.ButtonSecondary {
  padding: 10px 20px;
  border: #04a57d 1px solid;
  border-radius: 4px;
  background-color: white;
  color: #04a57d;
  cursor: pointer;
}

.ButtonSecondary:hover {
  background-color: #d5dfdc;
}

.ButtonSecondary:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  border: none;
}

.ButtonWarning {
  padding: 10px 20px;
  border: #c70101 1px solid;
  border-radius: 4px;
  background-color: white;
  color: #c70101;
  cursor: pointer;
}

.ButtonWarning:hover {
  background-color: #d5dfdc;
}

.ButtonWarning:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  border: none;
}